<div th:fragment="script">
    <script th:src="@{/admin/plugins/common/common.min.js}"></script>
    <script th:src="@{/admin/js/custom.min.js}"></script>
    <script th:src="@{/admin/js/settings.js}"></script>
    <script th:src="@{/admin/js/gleek.js}"></script>
    <script th:src="@{/admin/js/styleSwitcher.js}"></script>

    <!-- Chartjs -->
    <script th:src="@{/admin/plugins/chart.js/Chart.bundle.min.js}"></script>
    <!-- Circle progress -->
    <script th:src="@{/admin/plugins/circle-progress/circle-progress.min.js}"></script>
    <!-- Datamap -->
    <script th:src="@{/admin/plugins/d3v3/index.js}"></script>
    <script th:src="@{/admin/plugins/topojson/topojson.min.js}"></script>
    <script th:src="@{/admin/plugins/datamaps/datamaps.world.min.js}"></script>
    <!-- Morrisjs -->
    <script th:src="@{/admin/plugins/raphael/raphael.min.js}"></script>
    <script th:src="@{/admin/plugins/morris/morris.min.js}"></script>
    <!-- Pignose Calender -->
    <script th:src="@{/admin/plugins/moment/moment.min.js}"></script>
    <script th:src="@{/admin/plugins/pg-calendar/js/pignose.calendar.min.js}"></script>
    <!-- ChartistJS -->
    <script th:src="@{/admin/plugins/chartist/js/chartist.min.js}"></script>
    <script th:src="@{/admin/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js}"></script>



    <script th:src="@{/admin/js/dashboard/dashboard-1.js}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>





    <script th:src="@{/admin/plugins/sweetalert/js/sweetalert.min.js}"></script>
    <script th:src="@{/admin/plugins/sweetalert/js/sweetalert.init.js}"></script>
</div>