x<head th:fragment="head">
    <title>Courseplus Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Courseplus is - Professional A unique and beautiful collection of UI elements">

    <link th:href="@{/user/assets/images/favicon.png}" rel="icon" type="image/png">

    <link rel="stylesheet" th:href="@{/user/assets/css/icons.css}">

    <link rel="stylesheet" th:href="@{/user/assets/css/uikit.css}">
    <link rel="stylesheet" th:href="@{/user/assets/css/style.css}">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>